.example-card {
  max-width: 400px;
}

h1 {
    margin: 20px;
}

mat-card {
    margin: 20px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
